"""config file for pylint"""

[MASTER]
load-plugins = pylint_django

[TYPECHECK]
ignored-classes=ForeignKey,ManyToManyField,GenericForeignKey

[MESSAGES CONTROL]
disable=no-member
disable=missing-docstring
disable=line too long

